html {
  scroll-behavior: smooth;
}

body {
  max-width: 900px;
  height: 100vh;
  margin: 0 auto;
  padding: 3rem 0;
  color: #fff;
  background-image: var(--bg-gradient);
  font-family: 'Barlow Semi Condensed', sans-serif;
}
